@page "/colors/edit"
@using Microsoft.EntityFrameworkCore
@using carrentalmanagement.Domain
@inject IDbContextFactory<carrentalmanagement.Data.carrentalmanagementContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Color</h2>
<hr />
@if (Color is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Color" OnValidSubmit="UpdateColor" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Color.Id" value="@Color.Id" />
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="Color.Name" class="form-control" />
                    <ValidationMessage For="() => Color.Name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="datecreated" class="form-label">DateCreated:</label>
                    <InputDate id="datecreated" @bind-Value="Color.DateCreated" class="form-control" />
                    <ValidationMessage For="() => Color.DateCreated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="dateupdated" class="form-label">DateUpdated:</label>
                    <InputDate id="dateupdated" @bind-Value="Color.DateUpdated" class="form-control" />
                    <ValidationMessage For="() => Color.DateUpdated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="createdby" class="form-label">CreatedBy:</label>
                    <InputText id="createdby" @bind-Value="Color.CreatedBy" class="form-control" />
                    <ValidationMessage For="() => Color.CreatedBy" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="updatedby" class="form-label">UpdatedBy:</label>
                    <InputText id="updatedby" @bind-Value="Color.UpdatedBy" class="form-control" />
                    <ValidationMessage For="() => Color.UpdatedBy" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/colors">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Color? Color { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Color ??= await context.Color.FirstOrDefaultAsync(m => m.Id == Id);

        if (Color is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateColor()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Color!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!ColorExists(Color!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/colors");
    }

    private bool ColorExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Color.Any(e => e.Id == id);
    }
}
